<div class="modal-all-objects js-modal" id="js-modal-all-objects">
    <h2 class="modal-all-objects__title">50 объектов, где успешно применялась продукция метакрит</h2>
    <p class="modal-all-objects__title-min">А их на самом деле больше. Намного больше...</p>
    <table>
        <thead>
        <tr>
            <th scope="col" width="2%">№</th>
            <th scope="col" width="21%">Название компании</th>
            <th scope="col" width="21%">Город</th>
            <th scope="col" width="21%">Область применения продукции МЕТАКРИТ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td aria-label="№">1</td>
            <td aria-label="Название компании">“Казанская ТЭЦ-2”</td>
            <td aria-label="Город">Казань</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт несущих конструкций градирни</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">2</td>
            <td aria-label="Название компании">ОАО «Тюменский речной порт»</td>
            <td aria-label="Город">Тюмень</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонтно-восстановительные работы причала</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">3</td>
            <td aria-label="Название компании">АО «Международный аэропорт «Уфа»</td>
            <td aria-label="Город">Уфа</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт и восстановление несущих конструкций
                здания Международного аэропорта "Уфа"</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">4</td>
            <td aria-label="Название компании">ОАО «Высокогорские коммунальные сети»</td>
            <td aria-label="Город">С. Высокая гора, Высокогорский р-он,
                Республика Татарстан </td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Восстановление защитного слоя бетона на очистных
                сооружениях</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">5</td>
            <td aria-label="Название компании">ОАО "ПО "Завод имени Серго" («POZIS»)</td>
            <td aria-label="Город">Зеленодольск, Республика Татарстан</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт отстойников и усреднителей</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">6</td>
            <td aria-label="Название компании">ЗАО «Камский металлургический комбинат «ТЭМПО» </td>
            <td aria-label="Город">Республика Татарстан, Тукаевский муниципальный р-он </td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт опорных конструкций, а также гидроизоляция и ремонт бетона чаши градирни</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">7</td>
            <td aria-label="Название компании">ОАО НК «Роснефть»</td>
            <td aria-label="Город">-</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт дорожного покрытия для обслуживания трубопроводов</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">8</td>
            <td aria-label="Название компании">ОАО «Ямал СПГ»</td>
            <td aria-label="Город">Полуостров Ямал</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт дорожного и аэродромного полотна обслуживающего газопровод проекта "Ямал СПГ"</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">9</td>
            <td aria-label="Название компании">Насосная станция Ириклинской ГРЭС</td>
            <td aria-label="Город">Оренбургская обл., Новоорский р-он</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Заполнение пустот, образовавшихся после усадки бетона, под опорными плитами насосного оборудования</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">10</td>
            <td aria-label="Название компании">Торговый центр «Тетрис»</td>
            <td aria-label="Город">Магнитогорск»</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Подливка под опорную часть колонн, гидроизоляция фундаментных блоков, заполнение межконструкционного пространства перекрытий</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">11</td>
            <td aria-label="Название компании">П. Примавера</td>
            <td aria-label="Город">Казань</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт холодных швов, восстановление защитного слоя бетона несущих стен</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">12</td>
            <td aria-label="Название компании">«ЕвроХим-БМУ»</td>
            <td aria-label="Город">Белореченск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт технологических резервуаров ортофосфорной кислоты</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">13</td>
            <td aria-label="Название компании">ФГУП ГУСДА при Спецстрое России</td>
            <td aria-label="Город">Аэродром г. Чкаловский</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт взлётно-посадочной полосы и рулевой дорожки</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">14</td>
            <td aria-label="Название компании">ФГУП ГУСДА при Спецстрое России</td>
            <td aria-label="Город">Аэродром г. Моздок</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт взлётно-посадочной полосы и рулевой дорожки</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">15</td>
            <td aria-label="Название компании">Новороссийский морской торговый порт</td>
            <td aria-label="Город">Новороссийск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт причала No 2 (торкретирование)</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">16</td>
            <td aria-label="Название компании">Железнодорожный мост</td>
            <td aria-label="Город">Ст. Козырьки пос. Мирный (г. Кореновск)</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт непроформовок и устранение дефектов бетонирования конструкций железнодорожного моста</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">17</td>
            <td aria-label="Название компании">АО «Черномортранснефть» производственная площадка «Грушовая»</td>
            <td aria-label="Город">- </td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт непроформовок и устранение дефектов бетонирования лотка водоотведения</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">18</td>
            <td aria-label="Название компании">МУП «Водоканал»</td>
            <td aria-label="Город">Казань</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт защитного слоя бетона отстойников</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">19</td>
            <td aria-label="Название компании">Строительство автоцентра «Серебряный саквояж»</td>
            <td aria-label="Город">Магнитогорск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Омоноличивание колонн</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">20</td>
            <td aria-label="Название компании">Станция Новопеределкино Московского метрополитена</td>
            <td aria-label="Город">Москва</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт тюбингов и зачеканка швов</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">21</td>
            <td aria-label="Название компании">Торговый комплекс «Лента»</td>
            <td aria-label="Город">Магнитогорск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Аварийный ремонт напорной течи</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">22</td>
            <td aria-label="Название компании">ОАО НПО «СПЛАВ»</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт плит перекрытия подвального помещения, ремонт железобетонных конструкций помещения насосной станции</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">23</td>
            <td aria-label="Название компании">УКС администрации</td>
            <td aria-label="Город">Кыштым</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Усиление железобетонных опор моста (заливка в металлическую обойму)</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">24</td>
            <td aria-label="Название компании">ООО «Ариант»</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Неконструкционный ремонт железобетонных конструкций свинокомплекса</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">25</td>
            <td aria-label="Название компании">ОАО «Сибмост»</td>
            <td aria-label="Город">-</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт балок и опор моста</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">26</td>
            <td aria-label="Название компании">ООО «МАГЛИН»</td>
            <td aria-label="Город">Магнитогорск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Усиление и ремонт плит перекрытия. Подливка под силовое оборудование</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">27</td>
            <td aria-label="Название компании">ООО «НТФ Полигон»</td>
            <td aria-label="Город">Протвино, Московская область</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Заливка плиты машинным способом</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">28</td>
            <td aria-label="Название компании">ООО «ЛУКОЙЛ- Нижегороднефтеоргсинтез»</td>
            <td aria-label="Город">Кстово, Нижегородская область</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Конструкционный ремонт железобетонных конструкций, устройство фундаментов для насосов станции каталитического крекинга</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">29</td>
            <td aria-label="Название компании">ООО «Оренбург Водоканал»</td>
            <td aria-label="Город">Оренбург</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Реконструкция очистных сооружений канализации (первичных радиальных отстойников)</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">30</td>
            <td aria-label="Название компании">ООО «ШСУ»</td>
            <td aria-label="Город">П. Межозерный</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Торкретирование свода шахты</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">31</td>
            <td aria-label="Название компании">Завод «Минплита»</td>
            <td aria-label="Город">Д. Таловка, Сосновский р-он, Челябинская обл.</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт железобетонных конструкций склада продукции, установка металлических гильз в железобетонных конструкциях</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">32</td>
            <td aria-label="Название компании">ООО «Трест Магнитострой»</td>
            <td aria-label="Город">Магнитогорск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт сколов, трещин и других дефектов ж/б конструкций. Устройство отмостки</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">33</td>
            <td aria-label="Название компании">ООО «Синай»</td>
            <td aria-label="Город">-</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Устройство отмостки, ремонт ступеней и бордюров ДС No 13</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">34</td>
            <td aria-label="Название компании">Тюменская ТЭЦ No 1, ОАО «Фортум»</td>
            <td aria-label="Город">Тюмень</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт дымовой трубы. Подливка под дымосос</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">35</td>
            <td aria-label="Название компании">ТЭЦ</td>
            <td aria-label="Город">Магнитогорск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Подливка под оборудование. Ремонт, восстановление и усиление ж/б плит и балок</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">36</td>
            <td aria-label="Название компании">ОАО «Новосибирскавтодор»</td>
            <td aria-label="Город">Новосибирск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт балок и опор моста</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">37</td>
            <td aria-label="Название компании">ОАО «ММК»</td>
            <td aria-label="Город">-</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт дефектов ж/б колонн ТВД-6, подливка под оборудование</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">38</td>
            <td aria-label="Название компании">ОАО «Нижегородский водоканал»</td>
            <td aria-label="Город">Нижний Новгород</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Реконструкция очистных сооружений канализации</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">39</td>
            <td aria-label="Название компании">ОАО «СИБУР-Нефтехим»</td>
            <td aria-label="Город">Дзержинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Заливка фундаментов под оборудование котельной</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">40</td>
            <td aria-label="Название компании">ПАО «Челябинский трубопрокатный завод»</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций цеха</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">41</td>
            <td aria-label="Название компании">ОАО «Курганэнерго» Курганская теплоэлектроцентраль</td>
            <td aria-label="Город">Курган</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Подливка под оборудование, ремонт ж/б конструкций</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">42</td>
            <td aria-label="Название компании">ОАО «Русич» Курганский завод колёсных тягачей</td>
            <td aria-label="Город">Подливка под оборудование</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций, гидроизоляция подземных сооружений</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">43</td>
            <td aria-label="Название компании">МБУК «Зоопарк»</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций, гидроизоляция подземных сооружений</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">44</td>
            <td aria-label="Название компании">«Мукомольный завод»</td>
            <td aria-label="Город">Курган</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">45</td>
            <td aria-label="Название компании">АО «Златоустовский машиностроительный завод»</td>
            <td aria-label="Город">Златоуст</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций цеха</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">46</td>
            <td aria-label="Название компании">Заводы ЖБИ</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт готовой продукции (ж/б изделия)</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">47</td>
            <td aria-label="Название компании">ОАО НПО «СПЛАВ»</td>
            <td aria-label="Город">Челябинск</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций, гидроизоляция бомбоубежища</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">48</td>
            <td aria-label="Название компании">Завод «Минплита»</td>
            <td aria-label="Город">Д. Таловка, Сосновский р-он, Челяб. обл.</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций</td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">49</td>
            <td aria-label="Название компании">Южноуральская ГРЭС ИНТЕР РАО</td>
            <td aria-label="Город">-</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б полов
            </td>
        </tr>
        <tr>
            <td scope="row" aria-label="№">50</td>
            <td aria-label="Название компании">«Энгельсский завод ЖБИ-6»</td>
            <td aria-label="Город">Энгельс</td>
            <td aria-label="Область применения продукции МЕТАКРИТ">Ремонт ж/б конструкций цеха</td>
        </tr>
        </tbody>
    </table>
    <form class="modal-nodes-form modal-nodes-form-all" action="succes.php" method="post">
        <h3 class="modal-nodes-form__title modal-nodes-form__title-all">Получите готовое решение уже сейчас! В PDF или Autocad</h3>
        <p class="modal-nodes-form__desc-top modal-nodes-form__desc-top-all">Мы свяжемся с вами для обсуждения деталей</p>
        <div class="modal-nodes-form__control">
            <input class="modal-nodes-form__phone modal-nodes-form__phone-all" type="text" name="phone" required="" placeholder="Введите ваш телефон">
            <button class="button button-nodes-modal button-nodes-modal-all" type="submit">Получить готовое решение</button>
        </div>
        <p class="modal-nodes-form__desc modal-nodes-form__desc-all">Нажимая на кнопку, я даю <a href="soglashenie.pdf" target="_blank" class="modal-nodes-form__link modal-nodes-form__link-all">cогласие на обработку персональных данных</a></p>

        <input type="hidden" name="forma" value="Получить готовые узлы (форма 50 ОБЪЕКТОВ)">
        <input type="hidden" name="order_type" value="2">
        <input type="hidden" name="utm_source" value="<?php echo isset($_GET['utm_source']) ? $_GET['utm_source'] : '' ;?>">
        <input type="hidden" name="utm_medium" value="<?php echo isset($_GET['utm_medium']) ? $_GET['utm_medium'] : '' ;?>">
        <input type="hidden" name="utm_campaign" value="<?php echo isset($_GET['utm_campaign']) ? $_GET['utm_campaign'] : '' ;?>">
        <input type="hidden" name="utm_term" value="<?php echo isset($_GET['utm_term']) ? $_GET['utm_term'] : '' ;?>">
        <input type="hidden" name="utm_placement" value="<?php echo isset($_GET['utm_placement']) ? $_GET['utm_placement'] : '' ;?>">
        <input type="hidden" name="utm_creative" value="<?php echo isset($_GET['utm_creative']) ? $_GET['utm_creative'] : '' ;?>">
        <input type="hidden" name="utm_content" value="<?php echo isset($_GET['utm_content']) ? $_GET['utm_content'] : '' ;?>">
        <input type="hidden" value="8838" name="time_spend"><input type="hidden" value="false" name="mobile">
    </form>
    <a href="#" class="modal-all-objects__close js-modal-close"></a>
</div>