//BASE
@import 'base/common'
@import 'base/overlay'
@import 'base/modal-form'
@import 'base/modal-nodes-form'
@import 'base/nodes-form'
@import 'base/main-form'

//Controls
@import 'controls/button-application'
@import 'controls/button-main-form'
@import 'controls/button-modal'
@import 'controls/button-nodes-modal'

//LAYOUTS
@import 'layouts/page'

//HEADER
@import 'blocks/common/header'
@import 'blocks/common/logo'

//MAIN-SCREEN
@import 'blocks/main-screen'

//benefit
@import 'blocks/benefit'

//nodes
@import 'blocks/nodes'

//all-objects
@import 'blocks/all-objects'

//modal-all-object
@import 'blocks/modal-all-object'

//CERTIFICATES
@import 'blocks/certificates'
@import 'base/slider'

//garant
@import 'blocks/garant'

//questions
@import 'blocks/questions'

//MODAL
@import 'blocks/modal'
@import 'blocks/modal-nodes'

//FOOTER
@import 'blocks/common/footer'











