<div class="all-objects__wrapper">
    <div class="all-objects__left">
        <span class="all-objects__count">50</span>
    </div>
    <div class="all-objects__right">
        <p class="all-objects__desc">
            Именно столько объектов мы
            смогли вспомнить и описать,
            где успешно применялась наша
            продукция.
            <br><br>
            А их намного больше...
        </p>
        <a class="all-objects__show-modal js-show-modal" href="#js-modal-all-objects">Посмотреть описания<br>
            по всем 50 объектам</a>
    </div>
</div>
