<div class="benefit__wrapper" id="constructorprofit">
    <div class="benefit__title-wrapper benefit__title-wrapper--top">
        <h1 class="benefit__title">В чем ваша выгода от сотрудничества с нами</h1>
    </div>
    <div class="benefit__left-wrapper">
        <div class="benefit__left">
            <h3 class="benefit__title-block benefit__title-block--left">Компания Метакрит</h3>
            <p class="benefit__desc benefit__desc--left">Экономия до 40% на стоимости<br> материалов для ремонта и гидроизоляции</p>
            <p class="benefit__desc benefit__desc--left">100% качество продукции,<br> которое не уступает<br> зарубежным аналогам</p>
            <p class="benefit__desc benefit__desc--left">Наша русская, отечественная<br> поддержка по всем вопросам<br> применения</p>
        </div>
    </div>
    <div class="benefit__right-wrapper">
        <div class="benefit__right">
            <h3 class="benefit__title-block benefit__title-block--right">Другая компания</h3>
            <p class="benefit__desc benefit__desc--right">Дорогая импортная продукция</p>
            <p class="benefit__desc benefit__desc--right">Качество, в котором больше<br> рекламы, чем результата</p>
            <p class="benefit__desc benefit__desc--right">Вы - лишь рынок сбыта, который<br> сам себя должен поддерживать</p>
        </div>
    </div>
    <div class="benefit__title-wrapper benefit__title-wrapper--bottom">
        <h1 class="benefit__title">Представляете, какой объем экономии <span class="benefit__title-wrapper--bottom-bold">находится в ваших руках</span></h1>
    </div>
</div>