<section class="garant">
    <div class="garant__wrapper">
        <div class="garant__left">
            <img src="./images/garant.png"  alt="garant">
        </div>
        <div class="garant__right">
            <div class="garant__title-wrapper">
                <h3 class="garant__title">ваши проекты с нашей помощью</h3>
                <h3 class="garant__title-bold">гарантированно пройдут госэкспертизу</h3>
            </div>
            <p class="garant__list-title">А также за нами стоит сотрудничество<br> с такими проектными институтами, как:</p>
            <ul class="garant__list">
                <li class="garant__list-item">НИИЖБ им. А.А. Гвоздева</li>
                <li class="garant__list-item">АО “НИЦ “Строительство”</li>
                <li class="garant__list-item">ЦНИИСК им. В.А. Кучеренко</li>
                <li class="garant__list-item">НИИОСП им. Н.М. Герсеванова</li>
                <li class="garant__list-item">И прочие институты по всей РФ</li>
            </ul>
        </div>
        <p class="garant__desc">
            А вас лично – оценят за поддержку программы В.В. Путина по импортозамещению
            МЕТАКРИТ – отечественный продукт!
        </p>
    </div>
</section>

