.button-nodes-modal
  width 45%
  float right
  background-color #fff
  color #40230d
  margin 10px auto 0 auto
  display inline-block
  text-decoration none
  padding 10px 0
  font-size 14px
  text-transform uppercase
  border 1px solid #fff
  -webkit-transition-property background
  -webkit-transition-duration 0.5s
  -webkit-transition-timing-function ease
  &:hover
    cursor pointer
    background-color #40230d
    border 1px solid #fff
    color #fff
    -webkit-transition-property background
    -webkit-transition-duration 0.2s
    -webkit-transition-timing-function ease
  &:focus
    outline none
  @media (max-width: 600px)
    width 85%
    margin 20px auto 0 auto
    float none
  &-all
    background-color #40230d
    color #fff
    border 1px solid #40230d
    font-size 14px
    &:hover
      background-color #fff
      border 1px solid #40230d
      color #40230d

