.modal-nodes-form
  width 100%
  position absolute
  bottom 0%
  margin 0 auto
  background-color #40230d
  color #fff
  left 0
  &-all
    background-color #fff

  &__title
    font-size 20px
    font-weight 300
    text-align center
    padding 20px 0 10px 0
    &-all
      color #40230d
      padding 12px 0 5px 0
      font-size 17px
    @media (max-width: 600px)
      font-size 16px
      max-width 90%
      margin 0 auto

  &__control
    max-width 530px
    margin 0 auto

  &__desc-top
    text-align center
    margin 0 0 16px 0
    &-all
      color #40230d
      margin 0
      font-size 16px
    @media (max-width: 600px)
      font-size 15px

  &__desc-bottom
    float left
    clear both
    &-all
      color #40230d

  &__phone
    padding 9px 10px
    margin 10px 0
    outline none
    border-radius: 1px
    color #fff
    background-color #40230d
    border 1px solid #fff
    width 45%
    float left
    font-size 16px
    &-all
      background-color #fff
      color #40230d
      border 1px solid #40230d
      font-size 14px
      padding 10px 10px
    &:focus
      outline none
    @media (max-width: 600px)
      float none
      width 80%
      margin 0 auto

  &__desc
    color #fff
    text-align center
    margin 0 auto
    padding 10px 0 22px 0
    clear both
    &-all
      color #40230d
      padding 0px 0 15px 0
      font-size 14px

  &__link
    color #fff
    &-all
      color #40230d
    &:hover
      text-decoration none