.modal-form
  width 100%
  background-color #fff
  color #40230d

  &__link
    color #40230d
    &:hover
      text-decoration none
  &__desc
    color #40230d
    margin 14px auto 0 auto
    width 90%

  &__phone
    width 75%
    padding 14px 10px
    margin 10px 0
    outline none
    color #40230d
    background-color #fff
    border-radius 1px
    border 1px solid #40230d
    &--features
      max-width 280px
      width 100%
      display block
      margin 20px auto 10px auto
      @media (max-width: 410px)
        width 84%
